{% extends "boards/base.html" %}

{% block content %}
    <!-- Create Alpine.js Application -->
    <div x-data="{ openModal: false }">
        {% if favorite_object_list %}
            <h2 class="text-xl font-semibold mb-6">Your Favorite Boards</h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                {% for object in favorite_object_list %}
                    {% include "boards/partial/board_card.html" %}
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="text-xl font-semibold mb-6 mt-10">Your Boards</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {% for object in object_list %}
                {% include "boards/partial/board_card.html" %}
            {% endfor %}

            <!-- Create Board Card -->
            <!-- Open Modal on Click -->
            <div @click="openModal = true"
                 class="bg-gray-50 border border-gray-300 rounded-lg p-4 flex flex-col items-center justify-center shadow hover:bg-gray-100 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-10 h-10 text-gray-500 mb-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                </svg>
                <p class="text-gray-500 font-medium">Create New Board</p>
            </div>
        </div>

        <!-- Include the Modal -->
        {% include "boards/partial/create_board_modal.html" %}
    </div>
{% endblock %}